<ul class="remote-finder__menu"></ul>
<ul class="remote-finder__path-bar"></ul>
<div class="remote-finder__main">
	<ul class="remote-finder__file-list"></ul>
	<div class="remote-finder__property-view">
		<div class="remote-finder__property-view-inner"></div>
	</div>
</div>
