<div class="remote-finder__upload-dialog">
	<p>ファイルをアップロードします。</p>
	<ul class="px2-vertical-list">
		<li><label><input type="checkbox" name="allow_overwrite" value="1" /> 同名のファイルがすでに存在する場合に上書きする</label></li>
	</ul>
	<div class="px2-p">
		<table class="px2-table">
		{% for file in files %}
			<tr data-filename="{{ file.name }}">
				<td>{{ file.name }}</td>
				<td class="remote-finder__upload-dialog-result"></td>
			</tr>
		{% endfor %}
		</table>
	</div>
</div>
