<div class="remote-finder__editor-modal">
	<div class="remote-finder__editor-modal__overlay"></div>
	<div class="remote-finder__editor-modal__dialog">
		<div class="remote-finder__editor-modal__header">
			<h3 class="remote-finder__editor-modal__title">{{ filename }}</h3>
			<button class="remote-finder__editor-modal__close-button" type="button">×</button>
		</div>
		<div class="remote-finder__editor-modal__body">
			<textarea class="remote-finder__editor-modal__textarea"></textarea>
		</div>
		<div class="remote-finder__editor-modal__footer">
			<button class="remote-finder__editor-modal__save-button" type="button">保存</button>
			<button class="remote-finder__editor-modal__cancel-button" type="button">保存せずに閉じる</button>
		</div>
	</div>
</div>
