.remote-finder{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-wrap: nowrap;
	overflow: hidden;
	position: relative;

	@import "../node_modules/px2style/src/px2style.css.scss";

	a{
		background-color: #fff;
		color: #333;
		text-decoration: none;
		&:hover{
			background-color: #eee;
			color: #000;
		}
	}
	button{
		background-color: #fff;
		color: #333;
		border: 1px solid #666;
		cursor: pointer;
		padding: 0.5em 1em;
		font-size: medium;
		&:hover{
			background-color: #eee;
			color: #000;
		}
	}

	&__menu{
		margin: 0 !important;
		padding: 0 !important;
		display: flex;
		border-bottom: 1px solid #666;
		max-width: 100%;
		flex-shrink: 0;
		flex-wrap: nowrap;
		position: relative;
		z-index: 1000;

		>li{
			margin: 0;
			padding: 0;
			list-style-type: none;
			border-right: 1px solid #999;
			max-width: 100%;
			&:last-child{
				border-right: none;
			}
			>a{
				display: block;
				position: relative;
				padding: 0.3em 0.5em;
				box-sizing: border-box;
				width: 100%; height: 100%;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
			}
			>input[type=text]{
				width: 100%;
				height: 100%;
				box-sizing: border-box;
				border: 0;
				margin: 0;
				line-height: 1;
				border-radius: 0;
				outline: none;
			}
		}
	}

	&__path-bar{
		margin: 0 !important;
		padding: 0 !important;
		display: flex;
		overflow: auto;
		position: relative;
		border-bottom: 1px solid #666;
		max-width: 100%;
		flex-shrink: 0;
		flex-wrap: wrap;
		position: relative;
		z-index: 1000;

		>li{
			display: block;
			margin: 0;
			padding: 0;
			list-style-type: none;
			border-right: none;
			max-width: 100%;
			position: relative;
			&:last-child{
				border-right: none;
			}
			>a{
				display: block;
				position: relative;
				padding: 0.3em 0.5em 0.3em 1em;
				box-sizing: border-box;
				width: 100%; height: 100%;
				text-overflow: ellipsis;
				// overflow: hidden;
				white-space: nowrap;

				&::before {
					content : " ";
					display : block;
					position: absolute;
					right: -5px; top:0;
					width : 15px;
					height : 50%;
					border-right : 1px solid #999;
					background-color : #fff;
					transform : skew(30deg);
				}
				&::after {
					content : " ";
					display : block;
					position: absolute;
					right: -5px; bottom:0;
					width : 15px;
					height : 50%;
					border-right : 1px solid #999;
					background-color : #fff;
					transform : skew(-30deg);
				}
				&:hover::before,
				&:hover::after{
					background-color: #eee;
					color: #000;
				}

			}
			&:first-child{
				> a{
					padding-left: 0.3em;
				}
			}
		}

	}

	&__main {
		display: flex;
		flex-grow: 10;
		flex-shrink: 10;
		height: calc(100% - 100px);
		background-color: #6662;
	}

	// --------------------------------------
	// ファイルリスト
	&__file-list{
		margin: 0 !important;
		padding: 0 !important;
		overflow: auto;
		position: relative;
		z-index: 1000;
		flex-grow: 10;

		>li{
			display: block;
			margin: 0;
			padding: 0;
			list-style-type: none;
			border-bottom: 1px solid #999;
			&:last-child{
				border-bottom: none;
			}
			>a{
				display: block;
				position: relative;
				padding: 0.3em 0.5em;
				box-sizing: border-box;
				width: 100%; height: 100%;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
			}
		}
	}

	&__file-list a:hover &__file-list-submenu{
		display: block;
	}

	// 選択中のファイルとディレクトリ
	& &__selected {
		background-color: #00a0e6;
		color: #fff;
		&:hover {
			background-color: #3dbbf1;
			color: #fff;
		}
	}


	// --------------------------------------
	// プロパティビュー
	&__property-view {
		width: 360px;
		max-width: 70%;
		height: 100%;
		overflow: auto;
		padding: 12px 15px;
		box-sizing: border-box;
		border-left: 1px solid #ddd;
		background-color: #fefefe;
		word-break : break-all;

		&-current-dir {
			font-size: 14px;
			font-weight: normal;
			margin: 3px 0;
			word-break : break-all;
		}
		&-item-name {
			font-size: 18px;
			font-weight: bold;
			margin: 3px 0;
			word-break : break-all;
		}

		table {
			border: none;
			border-bottom: 1px solid #ddd;
			tr {
				th,
				td {
					border-top: 1px solid #ddd;
					text-align: left;
					vertical-align: top;
					margin: 0;
					padding: 4px 5px 4px 0;
				}
				th {
					width: 45%;
				}
				td {
					width: 55%;
				}
			}
		}
	}


	@mixin icons($image: url("images/file.svg")) {
		content: '';
		display: inline-block;
		width: 1em;
		height: 1em;
		background-image: $image;
		background-size: contain;
		vertical-align: middle;
		margin-right: 0.5em;
	}
	&__ico-new-folder::before{
		@include icons(url("images/new_folder.svg"));
	}
	&__ico-new-file::before{
		@include icons(url("images/new_file.svg"));
	}
	&__ico-folder::before{
		@include icons(url("images/folder.svg"));
	}
	&__ico-file::before{
		@include icons(url("images/file.svg"));
	}
	&__ico-copy::before{
		@include icons(url("images/copy.svg"));
	}
	&__ico-rename::before{
		@include icons(url("images/rename.svg"));
	}
	&__ico-delete::before{
		@include icons(url("images/delete.svg"));
	}
	&__ico-readonly::after{
		@include icons(url("images/readonly.svg"));
		margin-right: 0;
		margin-left: 0.5em;
	}

	&__preview{
		pre{
			border: 1px solid #999;
			border-radius: 5px;
			overflow: auto;
			padding: 1em;
			height: 5em;
			border:1px solid #ddd;
			background-color: #f7f7f7;
			code{
				display: block;
				padding: 0;
				margin: 0;
				color: #d66;
			}
		}
		img{
			max-width: 100%;
			max-height: 300px;
			display: block;
			margin: 5px auto;
		}
	}


	// --------------------------------------
	// プレビュー
	&__preview-disabled {
		text-align: center;
		padding: 4em 1em;
	}

	// --------------------------------------
	// ファイルのドロップ
	&__dropzone {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1001;
		background-color: #eee9;
		box-sizing: border-box;
		padding: 3%;

		&-inner {
			display: flex;
			justify-content: center;
			align-items: center;
			border: 5px dashed #999;
			border-radius: 10px;
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			text-align: center;
		}
	}

	&__upload-dialog {
		.px2-table {
			width: 100%;
		}
	}

	&__result-ok {
		display: inline-block;
		border: 1px solid #393;
		background-color: #292;
		color: #fff;
		padding: 3px;
		font-size: 11px;
		border-radius: 3px;
	}
	&__result-ng {
		display: inline-block;
		border: 1px solid #d33;
		background-color: #922;
		color: #fff;
		padding: 3px;
		font-size: 11px;
		border-radius: 3px;
	}

}
