.remote-finder{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: #f9f9f9;
	overflow: hidden;

	a{
		background-color: #fff;
		color: #333;
		text-decoration: none;
		&:hover{
			background-color: #eee;
			color: #000;
		}
	}
	button{
		background-color: #fff;
		color: #333;
		border: 1px solid #666;
		cursor: pointer;
		&:hover{
			background-color: #eee;
			color: #000;
		}
	}

	&__menu{
		margin: 0 !important;
		padding: 0 !important;
		display: flex;
		border-bottom: 1px solid #666;
		max-width: 100%;
		flex-shrink: 0;
		flex-wrap: wrap;

		>li{
			margin: 0;
			padding: 0;
			list-style-type: none;
			border-right: 1px solid #999;
			max-width: 100%;
			>a{
				display: block;
				position: relative;
				padding: 0.3em 0.5em;
				box-sizing: border-box;
				width: 100%; height: 100%;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
			}
		}
	}

	&__breadcrumb{
		margin: 0 !important;
		padding: 0 !important;
		display: flex;
		overflow: auto;
		position: relative;
		border-bottom: 1px solid #666;
		max-width: 100%;
		flex-shrink: 0;
		flex-wrap: wrap;

		>li{
			display: block;
			margin: 0;
			padding: 0;
			list-style-type: none;
			border-right: none;
			max-width: 100%;
			position: relative;
			&:last-child{
				border-right: none;
			}
			>a{
				display: block;
				position: relative;
				padding: 0.3em 0.5em 0.3em 1em;
				box-sizing: border-box;
				width: 100%; height: 100%;
				text-overflow: ellipsis;
				// overflow: hidden;
				white-space: nowrap;

				&::before {
					content : " ";
					display : block;
					position: absolute;
					right: -5px; top:0;
					width : 15px;
					height : 50%;
					border-right : 1px solid #999;
					background-color : #fff;
					transform : skew(30deg);
				}
				&::after {
					content : " ";
					display : block;
					position: absolute;
					right: -5px; bottom:0;
					width : 15px;
					height : 50%;
					border-right : 1px solid #999;
					background-color : #fff;
					transform : skew(-30deg);
				}
				&:hover::before,
				&:hover::after{
					background-color: #eee;
					color: #000;
				}

			}
			&:first-child{
				> a{
					padding-left: 0.3em;
				}
			}
		}

	}

	&__file-list{
		margin: 0 !important;
		padding: 0 !important;
		overflow: auto;
		>li{
			display: block;
			margin: 0;
			padding: 0;
			list-style-type: none;
			border-bottom: 1px solid #999;
			&:last-child{
				border-bottom: none;
			}
			>a{
				display: block;
				position: relative;
				padding: 0.3em 0.5em;
				box-sizing: border-box;
				width: 100%; height: 100%;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
			}
		}
	}

	&__file-list-submenu{
		margin: 0 !important;
		padding: 0 !important;
		position: absolute;
		top: 0;
		right: 0;
		display: none;
		overflow: auto;
		>li{
			display: inline-block;
			margin: 0;
			padding: 0;
			list-style-type: none;
			border: none;
			&:last-child{
				border-bottom: none;
			}
			>a{
				display: block;
				padding: 0.3em 0.5em;
				box-sizing: border-box;
				width: 100%; height: 100%;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
			}
		}
	}
	&__file-list a:hover &__file-list-submenu{
		display: block;
	}

	@mixin icons($image: url("images/file.svg")) {
		content: '';
		display: inline-block;
		width: 1em;
		height: 1em;
		background-image: $image;
		background-size: contain;
		vertical-align: middle;
		margin-right: 0.5em;
	}
	&__ico-new-folder::before{
		@include icons(url("images/new_folder.svg"));
	}
	&__ico-new-file::before{
		@include icons(url("images/new_file.svg"));
	}
	&__ico-folder::before{
		@include icons(url("images/folder.svg"));
	}
	&__ico-file::before{
		@include icons(url("images/file.svg"));
	}
	&__ico-readonly::after{
		@include icons(url("images/readonly.svg"));
		margin-right: 0;
		margin-left: 0.5em;
	}
}
